---
layout: default
---
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    <div class="project-information">
        <div class="project-header">
            <div class="project-header-info">
                <h1>{{ page.title }}</h1>
                <h3>{{ page.description }}</h3>
            </div>
            <img class="project-avatar" src="{{ page.avatar }}" alt="Project Avatar">
        </div>

        <div class="project-content">
            <div class="project-screenshots">
                {% for screenshot in page.screenshots %}
                <img src="{{ screenshot }}" alt="Project Screenshot">
                {% endfor %}
            </div>
            <div class="project-details">
                {{ page.content | markdownify }}
            </div>
        </div>

        <!-- Add buttons section -->
        <div class="project-buttons">
            {% if page.apk_link %}
            <a href="{{ page.apk_link }}" class="btn-download">Скачать APK</a>
            {% endif %}

            {% if page.play_store_link %}
            <a href="{{ page.play_store_link }}" class="btn-play-store">Открыть в Google Play</a>
            {% endif %}

            {% if page.rustore_link %}
            <a href="{{ page.rustore_link }}" class="btn-rustore">Открыть в Rustore</a>
            {% endif %}
        </div>
    </div>
</body>

</html>