.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: 100%; /* Adjust the width as per your preference */
  margin-bottom: 2rem; /* Adjust the margin as desired */
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-section {
  display: flex;
}

.avatar {
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  border-radius: 20%; /* Use '50%' for a circular avatar or adjust as needed for other shapes */
  object-fit: cover; /* Ensure the image fills the container */
  margin-right: 10px;
}

.project-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 10px;
}

.project-card a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.project-details {
  flex-grow: 1;
}

.tags-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.tags li {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
}

.filters {
  margin-bottom: 1rem;
}

.filter-button {
  margin-right: 0.5rem;
}

.project-header {
  display: flex;
  align-items: center;
}

.project-header-info {
  margin-right: 16px; /* Adjust the margin as needed */
  flex-grow: 1;
}

.project-avatar {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border-radius: 10%; /* Makes the avatar image round */
}

.project-screenshots {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.project-screenshots img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 8px; /* Adjust the margin as needed */
}

.project-details {
  margin-top: 20px; /* Adjust the margin as needed */
}

.project-details h2 {
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.project-details ul {
  list-style-type: disc; /* Adjust the list style as needed */
  padding-left: 20px; /* Adjust the padding as needed */
}

.project-details ul li {
  margin-bottom: 5px; /* Adjust the margin as needed */
}


.project-buttons {
  margin-top: 20px; /* Adjust the margin as needed */
}

.project-buttons a {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin between buttons as needed */
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background-color: #3498db; /* Adjust the background color */
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.project-buttons a:hover {
  background-color: #2980b9; /* Adjust the hover background color */
}

.btn-download {
  background-color: #27ae60; /* Adjust the background color */
}

.btn-play-store {
  background-color: #e67e22; /* Adjust the background color */
}

.btn-rustore {
  background-color: #9b59b6; /* Adjust the background color */
}

