---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I am Grigory. Android developer with over 10 years of experience."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<h2>Ӟечбур! Привет! Hello! 👋</h2>

	<p>
		I am Grigory. An Android developer with over 10 years of experience in developing commercial applications for the Android platform. I also have experience in game development on Unity, Flutter, web applications, and Telegram bots in Python.
	</p>

	<h3>About me</h3>

	<p>
		Besides programming, I love traveling and leading an active lifestyle: hiking, alpine skiing, cycling, and various sports. I am also into music — I play the bass guitar, and I fly FPV drones.
	</p>

	<h3>Skills</h3>

	<p>
		<strong>Programming languages:</strong> Kotlin, Java, Dart, C#, JavaScript, Python, SQL, basics of HTML/CSS
	</p>

	<p>
		<strong>Android development:</strong> Android SDK, Architecture Components, Jetpack Compose, RxJava, Coroutines, Flow, Retrofit, Room, Dagger, Koin, Firebase
	</p>
</Layout>
