---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="Мон сярысь"
	description="Мон Григорий. 10 арлэсь кема опытэн Android-разработчик."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<h2>Ӟечбур! Привет! Hello! 👋</h2>

	<p>
		Мон Григорий. 10 арлэсь кема ни коммерческой приложениос лэсьтон бордын Android-разработчик луыса ужасько. Озьы ик вань Unity-ен шудонъёс лэсьтон бордын ужаме, Flutter-ен ужасько, веб-приложениос, телеграм ботъёс Python лэсьясько.
	</p>

	<h3>Мон сярысь</h3>

	<p>
		Программирование сяна, яратӥсько дуннеез котыръяны, яратӥсько активной улон образэз: походъёс, гурезьёс, лымы, велосипед, пӧртэм спорт удысъёс. Озьы ик кӧня ке музыкаен вырисько — бас-гитараен шудӥсько, эшшо FPV-ен лобасько.
	</p>

	<h3>Быгатонлыкъёсы</h3>

	<p>
		<strong>Программирование кылъёс:</strong> Kotlin, Java, Dart, C#, JavaScript, Python, SQL, основы HTML/CSS
	</p>

	<p>
		<strong>Android разработка:</strong> Android SDK, Architecture Components, Jetpack Compose, RxJava, Coroutines, Flow, Retrofit, Room, Dagger, Koin, Firebase
	</p>
</Layout>
