---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Я Григорий. Android-разработчик с опытом более 10 лет."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<h2>Ӟечбур! Привет! Hello! 👋</h2>

	<p>
		Я Григорий. Android-разработчик с опытом более 10 лет разработки коммерческих приложений для платформы Android. Также имею опыт разработки игр на Unity, на Flutter, веб-приложений, телеграм ботов на Python.
	</p>

	<h3>О мне</h3>

	<p>
		Помимо программирования, люблю путешествовать, люблю активный образ жизни: походы, горные лыжи, велосипед, различные виды спорта. Также увлекаюсь музыкой — играю на бас-гитаре, и летаю на FPV.
	</p>

	<h3>Навыки</h3>

	<p>
		<strong>Языки программирования:</strong> Kotlin, Java, Dart, C#, JavaScript, Python, SQL, основы HTML/CSS
	</p>

	<p>
		<strong>Android разработка:</strong> Android SDK, Architecture Components, Jetpack Compose, RxJava, Coroutines, Flow, Retrofit, Room, Dagger, Koin, Firebase
	</p>
</Layout>
