---
layout: default
title: Проекты
---
<html>

<head>
    <!-- Other meta tags and head content -->

    <!-- Link the stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    <h1>Проекты</h1>

    <div class="filters">
        <button class="filter-button" data-tag="all">Все</button>
        {% for tag in site.data.tags %}
        <button class="filter-button" data-tag="{{ tag }}">{{ tag }}</button>
        {% endfor %}
    </div>


    <div class="project-list">
        <div class="column">
            {% assign sortedProjects = site.projects | sort: 'order' %}
            {% for project in sortedProjects %}
            <div class="project-card" data-tags="{{ project.tags | join: ',' }}"
                onclick="openProjectInformation('{{ project.url }}')">
                <div class="avatar-section">
                    <img src={{ project.avatar }} alt="Avatar" class="avatar">
                    <div class="project-details">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
                    </div>
                </div>
                <div class="tags-section">
                    <ul class="tags">
                        {% for tag in project.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterButtons = document.querySelectorAll('.filter-button');
        const projectCards = document.querySelectorAll('.project-card');

        filterButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const selectedTag = button.dataset.tag;

                // Update active state
                filterButtons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                projectCards.forEach(function (card) {
                    const tags = card.dataset.tags.split(',');

                    if (selectedTag === 'all' || tags.includes(selectedTag)) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });
        });

        // Set "Все" as active by default
        const allButton = document.querySelector('.filter-button[data-tag="all"]');
        if (allButton) {
            allButton.classList.add('active');
        }
    });

    function openProjectInformation(url) {
        window.location.href = url;
    }

</script>